<%= turbo_frame_tag dom_id(@todo) do %>
  
  <%= form_with(model: @todo, local: true) do |form| %>
   <div class="my-5">
    <%= form.label :name, class: 'font-medium' %>
    <div class="flex flex-col w-full">
      <div class="flex flex-col">
      <%= form.text_field :name, class: "shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full bg-transparent hover:border-blue-600" %>
      <%= form.date_field :due_date, class: "form-control shadow rounded-md border border-gray-300 outline-none px-3 py-2 mt-2 w-full bg-transparent hover:border-blue-600" %>
      <p>Due Date:
        <%= @todo.due_date.present? ? @todo.due_date.strftime("%B %d, %Y") : "No due date set" %>
      </p>
      <%= form.submit class: "rounded-lg px-3 py-2 mt-2  text-blue-600 hover:text-white border border-blue-600 hover:bg-blue-600 font-medium cursor-pointer" %>
      </div>
    </div>
  </div>
<% end %>
<% end %>
