<div class="w-full">
  <h2 class="text-6xl text-blue-600 font-thin text-center uppercase mb-8">
    Todos
  </h2>
  <%= turbo_frame_tag "todos-container", class: "block max-w-md w-full mx-auto bg-zinc-50 py-8 px-4 border border-gray-200 rounded-md shadow-sm" do %>
    <div class="border-b border-zinc-100 w-full">
      <ul class="flex space-x-2 justify-center">
        <li>
          <%= link_to "Incomplete",
            todos_path(status: "incomplete"),
            class: "inline-block pb-2 px-4 text-sm font-medium text-center text-gray-500 border-b-2 hover:text-gray-600 border-b-2 #{ params[:status] != "complete" && !params[:member_id] ? 'border-blue-600' : 'border-transparent hover:border-gray-300'}"
          %>
        </li>
        <li>
          <%= link_to "Complete",
            todos_path(status: "complete"),
            class: "inline-block pb-2 px-4 text-sm font-medium text-center text-gray-500 border-b-2 hover:text-gray-600 border-b-2 #{ params[:status] == "complete" ? 'border-blue-600' : 'border-transparent hover:border-gray-300'}"
          %>
        </li>
        <li>
          <%= link_to "Members",
            todos_path(show_members: true),
            class: "inline-block pb-2 px-4 text-sm font-medium text-center text-gray-500 border-b-2 hover:text-gray-600 border-b-2 #{ params[:show_members] ? 'border-blue-600' : 'border-transparent hover:border-gray-300'}"
          %>
        </li>
      </ul>          
    </div>

    <% if params[:show_members] %>
      <div class="mt-4">
        <h3 class="text-lg font-semibold mb-2">Members</h3>
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50 ">
            <tr>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Todo Count</th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <% @member.each do |member| %>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <%= link_to member.name, todos_path(member_id: member.id), class: "text-blue-600 hover:underline px-6 py-3 text-left text-xs tracking-wider" %>
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-left text-xs tracking-wider">
                  <%= member.todos.count %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <% unless params[:status] == "complete" %>
        <div class="py-2 px-4">
          <%= render "form", todo: Todo.new %>
        </div>
      <% end %>
      <ul id="todos-list">
        <%= render @todos %>
      </ul>
    <% end %>
  <% end %>
</div>